{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Privacy Policy"%}{% endblock %}
{% block keywords %}Privacy Policy{% endblock %}
{% block description %}Privacy Policy{% endblock %}

{% block content %}
<h1>Privacy Policy</h1>
<h3>General</h3>
<ul>
<li>All your contents and account information will store Google's secure servers</li>
<li>We will never share any information you provided by using our service.</li>
<li>This service is free to use</li>
</ul>
<br>
<h3>User Accounts</h3>
<ul>
<li>With using our service your sensivite registration data are not saved (only username, email) registering. 
Only collect information that's necessary to use our service. For registering and login we using Google account
Its safe, free. You dont need to register our website, just use your Google id.</li>
</ul>
{% endblock %}

{% block sidebar %}{% endblock %}	
